<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>Hello World</servlet-name>
        <servlet-class>com.readlearncode.serlvet.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello World</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Handling Methods</servlet-name>
        <servlet-class>com.readlearncode.serlvet.RequestHandlingMethods</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Handling Methods</servlet-name>
        <url-pattern>/request-handling-methods</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Parameters</servlet-name>
        <servlet-class>com.readlearncode.serlvet.RequestParameters</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Parameters</servlet-name>
        <url-pattern>/request-parameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Headers</servlet-name>
        <servlet-class>com.readlearncode.serlvet.RequestHeaders</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Headers</servlet-name>
        <url-pattern>/request-headers</url-pattern>
    </servlet-mapping>

</web-app>