<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>Hello World</servlet-name>
        <servlet-class>com.readlearncode.serlvet.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hello World</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Handling Methods</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.RequestHandlingMethods</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Handling Methods</servlet-name>
        <url-pattern>/request-handling-methods</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Parameters</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.RequestParameters</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Parameters</servlet-name>
        <url-pattern>/request-parameters</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Headers</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.RequestHeaders</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Headers</servlet-name>
        <url-pattern>/request-headers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Request Path</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.RequestPath</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Request Path</servlet-name>
        <url-pattern>/request-path/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create Cookies</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.CreateCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Create Cookies</servlet-name>
        <url-pattern>/create-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Read Cookies</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.ReadCookies</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Read Cookies</servlet-name>
        <url-pattern>/read-cookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet Mapping</servlet-name>
        <servlet-class>com.readlearncode.serlvet.request.ServletMapping</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet Mapping</servlet-name>
        <url-pattern>/servlet-mapping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response Buffering</servlet-name>
        <servlet-class>com.readlearncode.serlvet.response.ResponseBuffering</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Response Buffering</servlet-name>
        <url-pattern>/response-buffering</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Response Headers</servlet-name>
        <servlet-class>com.readlearncode.serlvet.response.ResponseHeaders</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Response Headers</servlet-name>
        <url-pattern>/response-headers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Trailer Fields</servlet-name>
        <servlet-class>com.readlearncode.serlvet.response.TrailerFields</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Trailer Fields</servlet-name>
        <url-pattern>/trailer-fields</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Read Trailer Fields</servlet-name>
        <servlet-class>com.readlearncode.serlvet.response.ReadTrailerFields</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Read Trailer Fields</servlet-name>
        <url-pattern>/read-trailer-fields</url-pattern>
    </servlet-mapping>

</web-app>